#url-body {
    width: auto;
    height: 100vh;
    margin: 40px;
}

#url-title {
    font-weight: bold;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 15px 15px 0 0;
}

#url-card {
    border-radius: 0 0 15px 15px;
    border: none;
    width: auto;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    table-layout: fixed;
}

#url-card th {
    background-color: #F2F2F2;
    color: #73777B;
}

#url-card thead {
    position: sticky;
    top: 0;
}

tbody {
    margin: 20px;
    background-color: white;
    height: 20px;
}

.action-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 2.5px 0 0;
}