body {
    background-color: #89CFFD;
    overflow: hidden;
    margin: 40px auto;
    font-size: 16px;
}

nav {
    display: grid;
    grid: auto / auto-flow;
    padding: 3px;
    margin-bottom: 24px;
    background: #eee;
    border-radius: 10px;
}

a {
    display: block;
    color: #000;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
}

a.active {
    background: #fff;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.slide-routes {
    border-radius: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    color: #fff;
    font-size: 64px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}