#login-card {
    width: 400px;
    height: auto;
    margin: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
}

#login-header {
    font-weight: bold;
    margin-bottom: 20px;
}

#login-header, #login-input {
    font-weight: bold;
    margin-bottom: 20px;
}

#email-header, #password-header,#cf-password-header {
    font-weight: bold;
    margin-bottom: 5px;
} 

#login-footer {
    margin-top: -10px;
}