Table thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}

#tableContainer {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none
}

#cardUrl {
    background-color: white;
    border-radius: 15px;
    border: none;
    width: 65%;
}